<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact <a href="mailto:jkopp@mkei.org">Joel Kopp</a> at the
  <a href="https://www.mkei.org">Milwaukee Institute</a> for further
  information.
</p>
