<%= link_to image_tag("mkei_logo_155x60.png", alt: "Milwaukee Institute logo"),
                      'https://www.mkei.org/' %>
<footer class="footer">
  <small>
    © 2015 Milwaukee Institute
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
