<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Cantilever Beam", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Beams", root_path %></li>
        <li><%= link_to "New", create_path %></li>
      </ul>
    </nav>
  </div>
</header>
